.pokemon-sprite {
  // width: 90%;
  width: 100%;
  margin-top: 0.5rem;
  // margin-left: auto;
  // margin-right: auto;
  text-align: center;
  display: flex;
  image-rendering: pixelated;
  border: inset #9aa28b 3px;
  border-radius: 5px;
  box-sizing: border-box;
  background: linear-gradient(15deg, #cad5b5 64%, #dde2d4 70%, #dde2d4 81%, #fff 86%, #dde2d4 89%, #dde2d4 100%);
}

#sprite-controls {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sprite-control {
  height: 30px;
  width: 90px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: groove grey 3px;
  border-radius: 20px;
  color: black;
  padding: 1px;
  border-color: #b06868;
  &:hover {
    border-color: #69ffaa;
  }
  &:active {
    border-color: #f4fcb9;
  }
}

.sprite-controls-shiny {
  background: linear-gradient(14deg, #bf8823 10%, #ffee90 25%, #e6a617 47%, #ffee90 73%, #fff6c8 74%, #ffee90 80%);
  border-color: #cdb589;
  text-shadow: white -1px 1px;
  &:hover {
    border-color: #ffcc01;
  }
}