   /* #region ---------Main---------*/
  main{
    display: flex;
    justify-items: center;
    width: 90%;
    padding-top: 1rem;
  }
  
  ul{
    padding: 0%;
    list-style: none;
  }
  
  /* #region ---------Pokedex---------*/
  .pokedex {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e61515;
    padding: 1rem;
    border-radius: 15px;
    border: double black 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .screen {
    background: linear-gradient(14deg, rgb(165, 205, 83) 60%, rgb(193, 217, 144) 65%);
    border-radius: 3px;
    border: inset #879a65 3px;
  }
  
  /* #region ---------Left side---------*/
  
  .panel-left {
    padding: 10px;
    border: inset #b31818 3px;
    border-radius: 3px;
  }

  .pokemon-name {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: capitalize;
    box-sizing: border-box;
    
    p{
      margin-top: 0.7em;
      margin-bottom: 0.5em;
    }
  }
  
  /* #region ---------Types---------*/
  .type-list {
    display: flex;
    flex-direction: column;
    border: groove #8b1919 3px;
  }
  
  .panel-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    letter-spacing: 2px;
    padding: 1px;
    background: linear-gradient(14deg, #460f0f 0, #891313 30%, #b31818 45%, #fd5555 65%, #b31818 95%);
    border: groove #e61515 3px;
    border-width: 3px 2px;
    text-shadow: #fd5555 -1px 1px;
    margin: 0%;
  }
  
  .type-box {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(14deg, #afafaf 50%, #ffffff 80%, #afafaf 90%);
    border-top: groove #757575 3px;
    margin: 0%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .type {
    text-transform: capitalize;
    font-size: 1.25em;
    padding: 5px 2px 5px 2px;
    margin: 5px 2px 5px 2px;
    border: groove #757575 3px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: rgba(255, 255, 255, 0.3) -1px 1px;
    background: linear-gradient(
        15deg,
        rgba(128, 128, 128, 0.5) 64%,
        rgba(138, 138, 138, 0.5) 70%,
        rgba(230, 230, 230, 0.5) 81%,
        rgba(255, 255, 255, 0.5) 86%,
        rgba(220, 220, 220, 0.5) 89%,
        rgba(230, 230, 230, 0.5) 100%
    );
    background-blend-mode: hard-light;
  }
  /*#endregion*/
  

  /* #region ---------Divider---------*/
  .divider {
    display: flex;
    align-items: center;
    border: inset #460f0f 4px;
    border-radius: 4px;
    background: #460f0f;
    height: 1rem;
    div{
      height: inherit;
    }
  }
  
  .divider > * { //* Selects all elements
    border-radius: 4px;
    border: solid #2d0d0d 2px;
  }
  
  .hinge {
    background: linear-gradient(180deg, #891313 0, #b31818 30%, #e61515 45%, #fd5555 65%, #e61515 95%);
    border-right-color: #fd5555;
    border-top-color: #fd5555;
    flex: 10; //the width of all other elements will be the same as their content, but the element with flex: 10 will be given the remaining full space
    width: 100%;
    border-left-color: #5f1010;
  }
  
  .gap:first-child {
    border-radius: 0 0 5px 5px;
    border-top: none;
  }
  
  .gap:last-child {
    border-radius: 5px 5px 0 0;
  }
  
  .gap {
    background: linear-gradient(180deg, #460f0f 0, #891313 30%, #b31818 45%, #fd5555 65%, #b31818 95%);
    border-top-color: #891313;
    border-right-color: #b31818;
    flex: 2;
    width: 95%;
  }
  /*#endregion*/
  
  
  /* #region ---------Right side---------*/

  .panel-right {
    padding-top: 10px;
    padding-bottom: 10px;
    border: inset #b31818 3px;
    border-radius: 3px;
  }


  .panel-row {
    display: flex;
    border-bottom: groove #757575 3px;
    justify-content: space-evenly;
  }
  
  .panel-row:last-child {
    border-top: groove #757575 3px;
    border-bottom: none;
  }

  /*Statblock*/
  .stats {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    place-content: center;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    .stat-line-right-align{
      align-self: flex-end;
    }
    .stat-line-dots{
      width: 100%;
      padding: 0px 0.5rem;

      hr{
        border-top: 1px dashed black;
      }
    }
    .stat-line {
      width: 80%;
      text-transform: capitalize;
      margin-top: 5px;
      margin-bottom: 0%;
      max-width: 100%;
    }
    .stat-line-li{
      display: flex;
      flex-wrap: nowrap;
      width: 90%;
    }
  }

  /*Blue deco squares*/
  .blue-buttons {
    flex-wrap: wrap;
    padding: 5px;
  }
  
  .blue-button {
    height: 30px;
    flex: 1 1 16%;
    margin: 3px;
    border: groove #6c96e6 3px;
    border-radius: 5px;
    background: linear-gradient(
        15deg,
        rgba(128, 128, 128, 0.5) 64%,
        rgba(138, 138, 138, 0.5) 70%,
        rgba(230, 230, 230, 0.5) 81%,
        rgba(255, 255, 255, 0.5) 86%,
        rgba(220, 220, 220, 0.5) 89%,
        rgba(230, 230, 230, 0.5) 100%
    );
    background-blend-mode: hard-light;
    background-color: #09a8ff;
  }


/*Bottom panels*/
  .bottom-right-panel{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .side-panels{
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;

    b{
      padding-top: 0.5rem;
    }
  }

  .abilities{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
      margin-top: 0.5rem;
      list-style-type: circle;
      list-style-position: inside;
      text-align: left;
    }
  }

  .held-items-panel{
    width: 40%;
    display: flex;
    flex-direction: column;
    p{
      margin-top: 0.5rem;
    }
  }

  .measurements{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }

/*prev - next*/
  .next-prev-pokemon{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    align-self: center;
  }

  .button {
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: outset rgb(248, 187, 187) 6px;
    transform: rotate(60deg);
    background: radial-gradient(
        circle farthest-corner at 40% 25%,
        rgb(218, 237, 241) 9%,
        rgb(124, 214, 237) 20%,
        rgb(64, 90, 165) 62%,
        rgb(43, 125, 196) 100%
    );
    cursor: pointer;

    &:hover {
      background: radial-gradient(
          circle farthest-corner at 40% 25%,
          rgb(233, 241, 218) 9%,
          rgb(184, 237, 124) 20%,
          rgb(64, 165, 106) 62%,
          rgb(43, 196, 145) 100%
      );
    }

    &:active {
      background: radial-gradient(
          circle farthest-corner at 40% 25%,
          rgb(229, 255, 181) 9%,
          rgb(204, 237, 124) 20%,
          rgb(103, 165, 64) 62%,
          rgb(66, 204, 40) 100%
      );
    }

    &:after {
      border: groove #460f0f 5px;
      content: "";
      width: 60px;
      height: 60px;
      position: absolute;
      border-radius: 50%;
      left: -10px;
      top: -10px;
      border-style: double;
      opacity: 0.75;
    }
  }

  .num-display {
    width: 50px;
    font-size: 20px;
    height: 30px;
    align-self: center;
    padding-top: 0.4rem;
  }
  
  /*#endregion*/
  
  /*#endregion*/
  
  /*#endregion*/
  
  
  /* #region ---------Media Queries---------*/
  @media screen and (min-width:768px){
  
    .pokedex {
      flex-direction: row;
      max-width: 1280px;
      gap: unset;
    }
  
    .panel-left{
      width: 45%;
    }
  
    .divider {
      width: 10%;
      flex-direction: column;
      width: 30px;
      margin: 0 20px;
      height: unset;
    }
    .hinge {
      background: linear-gradient(90deg, #891313 0, #b31818 30%, #e61515 45%, #fd5555 65%, #e61515 95%);
    }  
    .gap {
      background: linear-gradient(90deg, #460f0f 0, #891313 30%, #b31818 45%, #fd5555 65%, #b31818 95%);
      flex: 1;
    }
  
    .panel-right{
      width: 45%;
    }
  }
  /*#endregion*/